# Force correct classification on GitHub.com
/volume*/**/*      linguist-detectable linguist-language=E-mail
/volume*/**/*.txt -linguist-detectable linguist-language=Text
/volume*/**/index -linguist-detectable linguist-language=Text
